<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Platform - @ViewBag.Title</title>
	@{
		Response.Cache.SetCacheability(HttpCacheability.NoCache);
		Response.Cache.SetExpires(DateTime.UtcNow.AddHours(-1));
		Response.Cache.SetNoStore();
	}

	@using Enzigma.Platform.Objects;
	<script src="@SystemVars.CDNBaseUrl/vendor_js/jquery/js/jquery-1.10.2.min.js" type="text/javascript"></script>
	<script src="@SystemVars.CDNBaseUrl/vendor_js/jquery/js/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
	<script src="@SystemVars.CDNBaseUrl/vendor_js/angular/angular.min.js" type="text/javascript"></script>
	<script src="@SystemVars.CDNBaseUrl/vendor_js/ng-grid/js/ng-grid.min.js" type="text/javascript"></script>
	<script src="@SystemVars.CDNBaseUrl/vendor_js/jquery/js/jquery-ui.min.js" type="text/javascript"></script>
	<script src="@SystemVars.CDNBaseUrl/vendor_js/jquery/js/jquery.jgrowl.js" type="text/javascript"></script>
	<script src="@SystemVars.CDNBaseUrl/vendor_js/moment/moment.min.js" type="text/javascript"></script>
	<script src="@SystemVars.CDNBaseUrl/vendor_js/jquery/js/jquery.blockUI.js" type="text/javascript"></script>
	<script src="@SystemVars.CDNBaseUrl/vendor_js/ng-quick-date/js/ng-quick-date.min.js" type="text/javascript"></script>
	<script src="@SystemVars.CDNBaseUrl/application_js/angular/enz-controls.js" type="text/javascript"></script>
	<script src="@SystemVars.CDNBaseUrl/application_js/platform-1.0.js" type="text/javascript"></script>
	<script src="@SystemVars.CDNBaseUrl/application_js/platform.ui-1.0.js" type="text/javascript"></script>

	<link rel="stylesheet" href="@SystemVars.CDNBaseUrl/vendor_js/jquery/css/themes/base/minified/jquery-ui.min.css" />
	<link rel="stylesheet" href="@SystemVars.CDNBaseUrl/vendor_css/cssgrids/cssgrids-min.css" />
	<link rel="stylesheet" href="@SystemVars.CDNBaseUrl/vendor_js/ng-quick-date/css/ng-quick-date.css" />
	<link rel="stylesheet" href="@SystemVars.CDNBaseUrl/vendor_js/ng-grid/css/ng-grid.css" />
	<link rel="stylesheet" href="@SystemVars.CDNBaseUrl/vendor_css/cssflow/search.css" />
	<link rel="stylesheet" href="@SystemVars.CDNBaseUrl/vendor_css/purecss/pure-min.css" />
	<link rel="stylesheet" href="@SystemVars.CDNBaseUrl/application_css/side-menu.css" />
	<link rel="stylesheet" href="@SystemVars.CDNBaseUrl/application_css/site.css" />

	<script lang="javascript">
		//We frequently need the base application path in JavaScripts and htmls for links and other items, we can use this variable
		//from javascript as well as html.
		Engine.PlatformPath = '@Enzigma.Platform.Objects.SystemVars.PlatformPath';
		Engine.AppPath = '@Enzigma.Platform.Objects.SystemVars.ApplicationPath';
		Engine.CDNBaseUrl = '@Enzigma.Platform.Objects.SystemVars.CDNBaseUrl';
		//application path for FTPAttachment only
		var application_js = Engine.CDNBaseUrl + "application_js/ftpAttachments/";
		var databaseModule = "platform";
	</script>

	<link rel="shortcut icon" href="@Enzigma.Platform.Objects.SystemVars.CDNBaseUrl/images/favicon.png" />

	@RenderSection("scripts", false);
	@RenderSection("ftpAttachments", false);

</head>
<body>
	@{
		if (Model != null && Model is Enzigma.Platform.Web.UI.PlatformPageContext)
		{
			<div id="blockForRelogin" style="display: none;"></div>
			<div id="reloginLayer" style="display: none;">
				@using (Html.BeginForm("Login", "Platform", null, FormMethod.Post, new Dictionary<String, Object> { { "id", "formRelogin" }, { "class", "pure-form" }, { "style", "" } }))
				{
					<input type="hidden" name="username" value="@Request["username"]">
					<input type="password" name="password">
					<input type="hidden" name="returnUrl" value="json:" />
					<button type="button" class="btnLogin pure-button pure-button-primary">Sign in</button>
					<div id="errorLogin"></div>
				}
			</div>
		}
	}
	<div id="layout">
		<!-- Menu toggle -->
		<a href="#menu" id="menuLink" class="pure-menu-link">
			<!-- Hamburger icon -->
			<span></span>
		</a>

		@{
			bool bShowLogin = true;
			if (Model != null && Model is Enzigma.Platform.Web.UI.PlatformPageContext)
			{
				Enzigma.Platform.Web.UI.PlatformPageContext pageContext = (Enzigma.Platform.Web.UI.PlatformPageContext)Model;
				if (pageContext != null && pageContext.Session != null)
				{
					bShowLogin = false;
					<script lang="javascript">
						$(function () {
							$("#panelProfile").show();
							$("#menuSidebar").show();
						});
					</script>
				}
			}
			if (bShowLogin)
			{
				<script lang="javascript">
					$(function () {
						$("#formLogin").show();
						$("#menuSidebar").hide();
					});
				</script>
			}
		}

		<div class="content">
			<div id="error"></div>
			@RenderBody()
		</div>

		<div id="menu" ng-app="Menu" ng-controller="MenuController">
			<div class="pure-skin-mine pure-menu pure-menu-open">
				<a class="pure-menu-heading" href="~/Home">
					<img src="@Enzigma.Platform.Objects.SystemVars.CDNBaseUrl/application_img/enzigma.png" style="width: 230px;" border="0" />
				</a>
				@using (Html.BeginForm("Login", "Platform", null, FormMethod.Post, new Dictionary<String, Object> { { "id", "formLogin" }, { "class", "pure-form" }, { "style", "display:none;" } }))
				{
					<input type="email" placeholder="Username" id="username" name="username" value="@Request["username"]">
					<input type="password" placeholder="Password" id="password" name="password">
					<input type="hidden" id="returnUrl" name="returnUrl" />

					<button type="button" class="btnLogin pure-button pure-button-primary">Sign in</button>
					if (Model != null && Model is Enzigma.Platform.Objects.Error)
					{
						<div id="errorLogin" style="text-align: left;" id="">@Model.ErrorMessage</div>
					}

				}
				<ul id="menuSidebar" style="display: none;">
					<a href="~/Signout" class="pure-button pure-button-primary">Signout</a>
					<div class="pure-form" style="text-align: center; vertical-align: middle; padding-top: 10px; padding-bottom: 10px;">
						<input type="search" clsss="pure-input-rounded" placeholder="Search" ng-model="search.$" style="width: 230px;">
					</div>
					<li ng-repeat="m in menuItems | filter:search:strict"><a ng-href="{{AppPath + m.href}}">{{m.label}}</a></li>
				</ul>
			</div>
			<script lang="javascript">
				var Menu = angular.module('Menu', []);
				Menu.controller("MenuController",['$scope', function ($scope) {
					$scope.AppPath = Engine.PlatformPath;
					$scope.menuItems = [
						{ label: 'My Profile', href: '/MyProfile' },
						{ label: 'Change Password', href: '/ChangePassword' },
						{ label: 'Layouts', href: '/r/aaai/v' },
						{ label: 'Objects', href: '/r/aaab/v' },
						{ label: 'Fields', href: '/r/aaac/v' },
						{ label: 'API Tester', href: '/ApiTester' },
						{ label: 'Importer', href: '/Import' },
					    { label: 'Event Handler Manager', href: '/EventHandlerManager' },
					    { label: 'Email Template', href: '/EmailTemplate' },
						{ label: 'DirectiveTest', href: '/DirectiveTest' },
						{ label: 'ReportBuilder', href: '/ReportBuilder' },
						{ label: 'FTPAttachments', href: '/FTPAttachments' }
					];

				}]);
				$(function () {
					//The content may already have bootstraped first ng-app it comes across. It this is the only app
					//we should not bootstrap it.
					if (!$("#menu").scope())
						angular.bootstrap(document.getElementById("menu"), ['Menu']);
				});
			</script>
		</div>
	</div>

	<script lang="javascript">

		//DO NOT CHANGE ANY OF THE FOLLOWING CODE, IT WILL BREAK ENTIRE SYSTEM

		//This methods allows user to login and initializes the other globals for rest of the system to work.

		//This method prompts for re-login in case session of the user has expired, and it just asks for password.
		function loginPrompt() {
			$("#blockForRelogin").show('clip');
			$("#reloginLayer").show();
		}

		//On successful relogin we need to hide relogin screen
		function OnSuccessfulRelogin() {
			$("#reloginLayer").hide();
			$("#blockForRelogin").hide('clip');
		}

		//Initialise return url and login buttons, this is where default page of the user can be set
		$(function () {
			var returnUrl = $.parseParams().returnurl;
			if (!returnUrl)
				returnUrl = 'home';
			$('#returnUrl').val('json:' + returnUrl);
			$('.btnLogin').click(Engine.login);

			$('#menuLink').click(function () {
				$("#layout").toggleClass('active');
				$("#menu").toggleClass('active');
				$("#menuLink").toggleClass('active');
			});
		});
	</script>
</body>
</html>
