@{
	ViewBag.Title = "Change Password";
}
<link rel="stylesheet" href="@SystemVars.CDNBaseUrl/vendor_js/mocha/mocha.css" />
<script src="@SystemVars.CDNBaseUrl/vendor_js/mocha/mocha.js" type="text/javascript"></script>
<script src="@SystemVars.CDNBaseUrl/vendor_js/should/should.js" type="text/javascript"></script>
<script src="@SystemVars.CDNBaseUrl/application_js/unittest/changepasswordtest.js" type="text/javascript"></script>
@model Enzigma.Platform.Web.UI.PlatformPageContext

@using Enzigma.Platform;
@using Enzigma.Platform.Objects;
@using Enzigma.Platform.Web.UI;
@{
	<div ng-app="AppChangePassword" ng-controller="ResetPasswordController">

		<div class="changePasswordDiv">
			<form class="pure-form pure-form-aligned">
				<fieldset>
					<legend>@ViewBag.Title</legend>
					<span id="errorMessage" ng-show="ErrorMessage">{{ErrorMessage}}</span>
					<div ng-hide="success">
						<div class="pure-control-group">
							<label for="securityQuestion">Security Question</label>
							<select id="securityQuestion" ng-model="data.SecurityQuestion" required ng-options="q.Label as q.Value for q in SecurityQuestions" title="You can change security question"></select>
						</div>

						<div class="pure-control-group">
							<label for="securityAnswer">Security Answer</label>
							<input id="securityAnswer" type="password" required ng-model="data.SecurityAnswer" />
						</div>

						<div class="pure-control-group">
							<label for="oldPassword">Current Password</label>
							<input id="oldPassword" type="password" ng-model="data.OldPassword" />
						</div>
						<div class="pure-control-group">
							<label for="newPassword">New Password</label>
							<input id="newPassword" type="password" ng-model="data.NewPassword" />
						</div>

						<div class="pure-control-group">
							<label for="confirmPassword">Confirm Password</label>
							<input id="confirmPassword" type="password" ng-model="data.ConfirmPassword" />
						</div>
					</div>
					<div class="pure-controls">
						<button type="button" ng-click="SavePassword()" ng-disabled="!data.NewPassword || data.NewPassword != data.ConfirmPassword" class="pure-button pure-button-primary">Save</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
    <div id="mocha" ></div>
	<script lang="javascript">
		var appChangePassword = angular.module('AppChangePassword', []);
		appChangePassword.controller('ResetPasswordController', ['$scope', '$timeout', function ($scope, $timeout) {
			ShowProcessing();
			$scope.success = false;
			$scope.data = { NewPassword: '', ConfirmPassword: '', OldPassword: '', SecurityQuestion: '@HttpUtility.JavaScriptStringEncode(Model.Session.LoggedInUser.SecurityQuestion)', SecurityAnswer: '@HttpUtility.JavaScriptStringEncode(Model.Session.LoggedInUser.SecurityAnswer)', };
			var picklist = @Html.Raw(Enzigma.Platform.Objects.JsonObject.Serialize(Enzigma.Platform.Engine.RetrieveSystemPicklist("SecurityQuestions", String.Empty).Data));
			$scope.SecurityQuestions = (picklist && picklist.PickListValues) ? JSON.parse(picklist.PickListValues).Unrelated : ['No Question Found'];//.split(';')
			HideProcessing();
			$scope.SavePassword = function () {
				ShowProcessing();
				$scope.ErrorMessage = '';
				Engine.post('@SystemVars.ApplicationPath/api/identity', { action: 'ChangePassword', Data: $scope.data },
				function (error) {
					if (error.Success) {
						$scope.success = true;
						$scope.ErrorMessage = error.ErrorMessage;
						$("#errorMessage").html(error.ErrorMessage).infoMessage();
					}
					else {
						$scope.ErrorMessage = error.ErrorMessage;
						$("#errorMessage").html(error.ErrorMessage).errorMessage();
					}
					$scope.$apply();
				}
			);
			}
		}]); 
        
	</script>
}